<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="light dark" />
        <meta name="description" content="为 {{name}} 打上标签" />
        <title>评价一下 {{name}}</title>
        <link rel="icon" href="favicon.svg" />
        <link rel="stylesheet" href="pico.min.css" />
        <script defer src="cdn.min.js"></script>
        <script>
            document.addEventListener("alpine:init", () => {
                Alpine.data("tagApp", () => ({
                    newTag: "",
                    tags: {},
                    addTag() {
                        this.newTag.trim() &&
                            (this.sendTag(this.newTag.trim()),
                            (this.newTag = ""));
                    },
                    sendTag(tag) {
                        fetch(window.location.href, {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({ tag }),
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                this.tags = data.tags;
                            })
                            .catch(console.error);
                    },
                }));
            });
        </script>
    </head>
    <body x-data="tagApp" x-init="tags = {{tags|tojson}}">
        <main class="container">
            <h1>{{name}}</h1>

            <p x-show="false"><span aria-busy="true">加载中……</span></p>

            <p>
                <template x-for="[tag, count] in tags" :key="tag">
                    <span style="margin-right: 0.5rem">
                        <a
                            @click="sendTag(tag)"
                            class="secondary"
                            x-text="tag"
                        ></a
                        ><sup x-text="count"></sup>
                    </span>
                </template>
            </p>

            <form @submit.prevent="addTag">
                <fieldset role="group">
                    <input
                        type="text"
                        x-model="newTag"
                        placeholder="输入新标签"
                        aria-label="New tag"
                    />
                    <input type="submit" value="添加标签" />
                </fieldset>
            </form>
        </main>
    </body>
</html>
